@import '../../../Styles.scss';

.SidePanelSteps {
  margin-top: 20px;
  margin-left: $bound-natural-margin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  span {
    margin: 0 5px 0 5px;
  }

  .step-icon {
    // font-variant-numeric: tabular-nums; // this keeps all numbers the same width
    background-color: $bound-grey60;
    border-radius: 15px;
    cursor: pointer;
  }

  .unchecked {
    padding: 0.3em 0.6em;
  }

  .checked {
    padding: 0.3em 0.44em;
  }

  .current {
    padding: 0.3em 0.6em;
    background-color: $bound-link;
    color: $bound-white;
  }

  .step-text {
    font-size: 14px;
    vertical-align: top;
  }

  .chevron {
    margin: 0 5px;
    font-size: 10px;
    vertical-align: text-top;
  }
}

.StepOne, .StepTwo, .StepThree {
  .bound-label-text {
    margin-right: 5px; 
    font-size: 14px;
    font-weight: $bound-fontweight-bold
  }

  .input-label {
    text-align: left;
    margin: 20px 20px 0 0px;
  }

  .info-icon {
    display: inline;
    cursor: help;
  }
}

.StepOne {
  .bound-label-content input {
    padding: 5px;
    width: -webkit-fill-available;
    border: 1px solid $bound-grey60;
    border-radius: 5px;
    margin-top: 10px;
  }
}

.StepTwo, .StepThree {
  .integrations-container {
    margin-top: 10px;
  }

  .integrations-checkbox-list {
    text-align: left;

    label {
      margin-left: 10px;
    }

    input {
      cursor: pointer;
    }
  }
}