@import '../Styles.scss';

@mixin desktop {
  @media (min-width: 900px) { @content; }
}

.SidePanel {
  .sidepanel-backdrop {
    background: black;
    position: absolute;
    opacity: 0.5;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .step {
    margin: 0 24px;
  }

  .sidepanel-content {
    border-left: 1px solid $bound-grey;
    position: absolute;
    background-color: $bound-background;
    height: 100%;
    top: 0%;
    right: 0;
    width: 100%;
    animation-name: slide;
    animation-duration: 0.5s;
    
  
    @include min-width($desktop) {
      left: 60%;
      width: 40%;
    }
  }

  @keyframes slide {
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
  }

  .PanelHeader {
    position: relative;
    height: 60px;
    background-color: $bound-white;
    display: flex;
    justify-content: space-between;

    .header-title, .close-icon {
      font-size: 20px;
      margin-top: 15px;
    }

    .close-icon {
      font-size: 22px;
      margin-top: 10px;
    }

    .header-title {
      margin-left: $bound-natural-margin;
    }
    
    .close-icon:after{
      margin-right: 20px;
      border: 1px solid lightgray;
      border-radius: 20px;
      padding: 0px 7px 1px;
      font-size: 13px;
      border-radius: 50%;
      display: inline-block;
      content: "\00d7"; /* This will render the 'X' */
      cursor: pointer;
    }
  }

  .PanelFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $bound-white;

    .footer-buttons {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      width: 80%;
      margin: 0 auto;

      @include desktop {    
        justify-content: flex-end;
        flex-direction: initial;
        width: 100%;
     }
    }

    .button-submit {
      @include button-submit;
      padding: 0 10px;
      margin: 20px 0;
      @include desktop {    
        margin: 20px 20px 20px 0;
      }
    }

    .button-cancel {
      @include button-cancel;
      padding: 0 10px;
      margin: 20px 0 20px 0;
      @include desktop {    
        margin: 20px 10px 20px 0;
      }
    }
  }
}